html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

body {
    font-family: 'Open Sans', sans-serif;
}
/* Fonts */

.lora-font {
    font-family: 'Lora', serif;
}
.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}
/* end Fonts */
/* Global styles */

a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.header, .marketing, .footer {}
/* Menu */

.header {
    display: table;
    width: calc(100% - 96px);
    z-index: 99999999;
    right: 0;
    height: 58px;
    background-color: #ffffff;
    opacity: 0.83;
    position: fixed;
}
.header .header-content {
    display: table-cell;
    vertical-align: middle;
}
.header #app-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #1d5682;
    width: 100%;
    box-sizing: padding-box;
}
.header #menu-button {
    position: absolute;
    top: 22px;
    right: 22px;
    display: none;
}
.icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #1d5682;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin-bottom: 2px;
}
#main-menu {
    float: left;
    min-width: 96px;
    max-width: 96px;
}
.container {
    float: left;
    width: calc(100% - 96px);
}
/* Remove the padding we set earlier */

.header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
}
#main-menu {
    height: 100%;
    font-size: 12px;
}
#main-menu .first {
    background-color: #222222;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
}
#main-menu .first li {
    height: 104px;
    border-bottom: 2px solid #212121;
    text-transform: uppercase;
    position: relative;
}
#main-menu .menu-wrapper {
    display: table;
    width: 100%;
    text-align: center;
}
#main-menu .menu-content {
    display: table-row;
    vertical-align: middle;
}
#main-menu .first li .menu-icon {
    display: block;
}
#main-menu .first li:hover .submenu {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}
#main-menu .first li .submenu {
    z-index: 9999999;
    background-color: #cccccc;
    position: absolute;
    left: 72px;
    top: 48px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    border-bottom: none;
    list-style-type: none;
    min-width: 200px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#main-menu .first .submenu:hover {
    opacity: 1;
    visibility: visible;
}
#main-menu .first li .submenu li {
    line-height: 30px;
    border-bottom: none;
    font-size: 12px;
    height: auto;
}
#main-menu .second {
    position: absolute;
    bottom: 0;
    background-color: #222222;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0px;
    width: 96px;
    cursor: pointer;
}
#main-menu .second li {
    height: 104px;
    border-bottom: 1px solid #212121;
    text-transform: uppercase;
}
#main-menu .second li.last {
    height: 40px;
}
#main-menu .second li .menu-icon {
    display: block;
}
#main-menu .second .lang-selector.active {
    color: #ffffff;
}
.diamond {
    width: 12px;
    height: 12px;
    background: #508895;
    z-index: 9999999999;
    position: absolute;
    right: -12px;
    top: 64px;
    opacity: 0;
    /* Rotate */
    
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
#main-menu .first li:hover .diamond {
    opacity: 1;
    transition-delay: .5s;
}
/* Container */

.container {
    position: relative;
    height: 100%;
}
.container .background-image {
    position: fixed;
    top: 0;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    z-index: -999999;
}
.container .main-sentence {
    position: absolute;
    bottom: 190px;
    width: 100%;
    text-align: center;
    line-height: 44px;
}
.container .main-sentence .content {
    color: #ffffff;
    font-family: 'Lora', serif;
    font-size: 44px;
    font-style: italic;
    width: 60%;
    margin: auto;
    text-align: center;
}
.container .main-sentence-subsection {
    margin: 80px 20px;
    position: absolute;
}
.container .main-sentence-subsection span {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}
.container #breadcrumb {
    color: #ffffff;
    list-style-type: none;
    position: absolute;
    width: 100%;
    bottom: 60px;
}
.container #breadcrumb ul {
    overflow: hidden;
    margin: 0 20px;
    padding: 0;
}
.container #breadcrumb li {
    list-style: none;
    float: left;
    text-align: left;
    width: 16.6667%;
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
}
.container #breadcrumb li .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 25px;
    height: 20px;
}
.container #breadcrumb li .pusher {
    height: 20px;
}
.container #breadcrumb li .underline {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin-top: 5px;
    opacity: 0.5;
}
.container #breadcrumb li.active .underline {
    opacity: 1;
}
/* Menu */

#main-menu .first .menu-icons, #main-menu .second .menu-icons {
    display: block;
    font-size: 40px;
    padding-top: 20px;
}
#main-menu .first .menu-icons, #main-menu .first a, #main-menu .second .menu-icons, #main-menu .second a {
    -webkit-transition: color 100ms ease-in;
    -moz-transition: color 100ms ease-in;
    -ms-transition: color 100ms ease-in;
    -o-transition: color 100ms ease-in;
    transition: color 100ms ease-in;
}
#main-menu .first .menu-who:hover .icon-who, #main-menu .first .menu-who:hover .name, #main-menu .first .menu-who.active .icon-who, #main-menu .first .menu-who.active .name, #main-menu .first .menu-who .submenu a:hover, #main-menu .first .menu-who .submenu a.active {
    color: #0d9b8c;
}
#main-menu .first .menu-where:hover .icon-where, #main-menu .first .menu-where:hover .name, #main-menu .first .menu-where.active .icon-where, #main-menu .first .menu-where.active .name, #main-menu .first .menu-where .submenu a:hover, #main-menu .first .menu-who .submenu a.active {
    color: #e0a61a;
}
#main-menu .second .menu-info:hover .icon-info, #main-menu .second .menu-info:hover .name, #main-menu .second .menu-info.active .icon-info, #main-menu .second .menu-info.active .name, #main-menu .first .menu-info .submenu a:hover, #main-menu .first .menu-info .submenu a.active {
    color: #1d5682;
}
#main-menu .first .menu-how:hover .icon-how, #main-menu .first .menu-how:hover .name, #main-menu .first .menu-how.active .icon-how, #main-menu .first .menu-how.active .name, #main-menu .first .menu-how .submenu a:hover, #main-menu .first .menu-how .submenu a.active {
    color: #5f8320;
}
#main-menu .first .menu-what:hover .icon-what, #main-menu .first .menu-what:hover .name, #main-menu .first .menu-what.active .icon-what, #main-menu .first .menu-what.active .name, #main-menu .first .menu-what .submenu a:hover, #main-menu .first .menu-what .submenu a.active {
    color: #f97500;
}
.footer {
    padding-top: 19px;
    color: #777;
}
.view-frame.ng-enter {
    -webkit-animation: 1.4s fade-in;
    -moz-animation: 1.4s fade-in;
    -o-animation: 1.4s fade-in;
    animation: 1.4s fade-in;
}
.view-frame.ng-leave {
    -webkit-animation: 1.4s fade-out;
    -moz-animation: 1.4s fade-out;
    -o-animation: 1.4s fade-out;
    animation: 1.4s fade-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* don't forget about the vendor-prefixes! */
/* Responsive: Portrait tablets and up */
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 580px) {
    /* Styles */
    
    #main-menu {
        position: fixed;
        width: 100%;
        margin-top: 54px;
        z-index: 99999;
        float: none;
        max-width: none;
        min-width: initial;
        height: 0px;
        overflow: auto;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    #main-menu .menu-wrapper {
        display: table;
        width: 100%;
        text-align: center;
        height: 52px;
    }
    #main-menu .first {
        padding-top: 0px;
    }
    #main-menu .first li {
        height: 52px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    #main-menu .first li.clicked {
        height: auto;
    }
    #main-menu .first li .submenu {
        width: 100%;
        left: 0px;
        margin-left: 0px;
        margin-top: 0px;
        top: initial;
        display: none;
        position: relative;
        background-color: #222222;
        padding: 0;
        height: 0px;
    }
    #main-menu .first li .submenu li {
        text-align: center;
        font-weight: bold;
        border-top: 2px solid #212121;
        line-height: 52px;
    }
    #main-menu .first li .submenu li a {
        color: #ffffff;
    }
    #main-menu .first li.clicked .submenu {
        display: block;
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .diamond {
        top: 49px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #main-menu .first li:hover .diamond {
        opacity: 0;
    }
    #main-menu .first li.cliked .diamond {
        opacity: 1;
    }
    #main-menu .first .menu-icons, #main-menu .second .menu-icons {
        display: inline-block;
        padding-top: 0px;
        font-size: 32px;
    }
    #main-menu .first .menu-content .menu-icons, #main-menu .first .menu-content .name {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
    #main-menu .first .menu-content .menu-icons {
        text-align: right;
        padding-right: 5px;
    }
    #main-menu .first .menu-content .name {
        text-align: left;
        padding-left: 5px;
    }
    #main-menu.active {
        height: 100%;
    }
    .header #menu-button {
        display: block;
        cursor: pointer;
    }
    .header #menu-button.active {
        display: block;
        cursor: pointer;
    }
    .header {
        width: 100%;
        font-size: 13px;
        height: 54px;
        vertical-align: middle;
        background-color: #ffffff;
        opacity: 0.83;
        position: fixed;
    }
    .header #app-title {
        width: 100%;
        font-size: 14px;
    }
    .container {
        width: 100%;
    }
    .container .background-image {
        max-height: 100%;
    }
    .container .main-sentence {
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
    .container .main-sentence .content {
        font-size: 16px;
        background: #232323;
        opacity: 0.9;
        margin: auto;
        width: 100%;
        padding: 28px 18px;
        box-sizing: border-box;
    }
    .container .main-sentence .content {
        color: #008f96;
    }
    .container #breadcrumb {
        display: none;
    }
}
