<div id="main-menu">

    <ul class="first">

        <li class="menu-{{item.icon}}" ng-repeat="item in menuList" ng-click="toggleSubmenu($index)" ng-class="{'active' : isActive(item), clicked : item.clicked}">
            <a ng-href="{{item.path}}" >
                <div class="menu-wrapper">
                    <div class="menu-content">
                        <span class="menu-icons icon-{{item.icon}}"></span><span class="name">{{ item.name }}</span>
                        <span class="diamond"></span>
                    </div>
                </div>
            </a>
            <ul class="submenu {{item.icon}}">
                <li ng-repeat="subitem in item.submenu">
                    <a ng-href="{{subitem.path}}">
                        <span>{{ subitem.name }}</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>

    <ul class="second">
        <a class="menu-{{info.icon}}">
            <li>
                <span class="menu-icons icon-{{info.icon}}"></span> {{ info.name }}
            </li>
        </a>
        <li class="last">
            <span class="lang-selector" ng-class="{'active' : (currentLang == 'en_EN')}" ng-click="set('en_EN')">ENG</span>-<span class="lang-selector" ng-class="{'active' : (currentLang == 'es_ES')}" ng-click="set('es_ES')">ESP</span>
        </li>
    </ul>

</div>
